.user-top-info {
	position:fixed;
	top: 0;
	width: 100%;
	height: 4rem;
	line-height:4rem;
	background:#51a0f2;
}

.user-top-info li {
	position:relative;
	overflow: hidden;
	text-align:center;
	font-size:1.28rem;
	color:#fff;
}

.user-top-info i {
	margin-right: .7rem;
}